
<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
</div>

<!-- 구글맵 -->
<div class= "map_wraper" id="map_view" style="width:100%; height:574px;"></div>

	
<!-- <center><img src="assets/contact/contactus.png" width=100% height=100%></center> -->
	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				
				<div style="width:63%;float:left;">
					<div class="contactleekang">
						<b><a>Contact&nbsp;</a><a style="color:#2E64FE;"> LEEKANG</a></b>
					</div>
					<div class="contactform">
						<form action="/write_mail" method="post">
							<div style="height:60px; font-size:12px;">
								<div style="margin-top: 5px; float: left; width: 33%;">
									<label for="sender">이름</label>
									<input type="text" name="sender" class="form-control" style="width:70%;">
								</div>
								<div style="margin-top: 5px; float: left; width: 33%;">
									<label for="email">메일</label>
									<input type="text" name="email" class="form-control" style="width:70%;" >
								</div>
								<div style="margin-top: 5px; float: left; width: 33%;">
									<label for="number">연락처</label>
									<input type="text" name="number" class="form-control" style="width:70%;" >
								</div>
							</div>
							<br>
							<div>
								<label for="title">제목</label>
								<input type="text" name="title" class="form-control" style="margin-top: 5px; width:89%;" ></textarea>
							</div>
							<br>
							<div>
								<label for="content">내용</label>
								<textarea name="content" rows=10 style="margin-top: 5px; width:89%;" class="form-control" ></textarea>
							</div>
							<div style="margin-top:15px; margin-bottom:50px;">
								<input type="submit" class="btn btn-default" value="Send Message">
							</div>
						</form>
					</div>
				</div>
				
				<div style="width:37%;height:100%;float:left;margin-top:100px;">
					<p style="font-size:14px;">
						<h1 style="font-size:16px;">이강건축이야기</h1><br>
						<strong>Address :</strong> 서울특별시 마포구 성산동 <br>
						　　　　　39-3번지 이강빌딩 B-1<br><br>
						<strong>Phone : </strong>010 4284 5484 / 02 323 5485<br><br>
						<strong>Fax :</strong> 02 323 5485<br><br>
						<strong>Email :</strong> LeekangArchitecture@gmail.com
					</p>
				</div>
				
			</div>	
		</div>
	</section>
	<!-- /CONTACT -->
	
	
	<!--
	
	mailgun - leekangarchitecture@gmail.com / 1q2w3e4r 
	
	-->