	<!-- TOP POPUP -->
	    <div class="mainpopside" id="mainpops">
	      
	    </div>
	    <div class="mainpopimg" id="mainpopi">
	        <img src="assets/mainpopup.png" width=100% height=100%>
	    </div>

<!-- 6초 뒤에 팝업 사라짐 -->
<script>
    setTimeout("document.getElementById('mainpops').style.opacity= '0';",6000);
    setTimeout("document.getElementById('mainpopi').style.opacity= '0';",6000);
    setTimeout("document.getElementById('mainpops').style.display= 'none'",6400);
    setTimeout("document.getElementById('mainpopi').style.display= 'none'",6400);
</script>

	<!-- TOP POPUP -->
	
	<!-- SLIDER -->
	<section id="slider">
		<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
        </div>
		<div id="home-carousel" class="carousel slide" data-ride="carousel">			
			<div class="carousel-inner" style="height:650px;">
				<div class="item active" style="background-image: url(assets/slider/mainslide1.jpg)">
					<div class="carousel-caption container" style="margin-left:15%;">
						<div class="row">
							<div class="col-sm-7">
								
								<h2>사람은 닮은 집을 짓습니다.</h2>
								<h1>"HUMANLIKE"</h1>

							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(assets/slider/mainslide2.jpg)">
					<div class="carousel-caption container" style="margin-left:15%;">
						<div class="row">
							<div class="col-sm-7">
							  
								<h2>창의적으로 생각합니다.</h2>
								<h1>"CREATIVE"</h1>

							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(assets/slider/mainslide3.jpg)">
					<div class="carousel-caption container" style="margin-left:15%;">
						<div class="row">
							<div class="col-sm-7">
							  
								<h2>당신의 이야기를 담습니다.</h2>
								<h1>"YOUR STORY"</h1>

							</div>
						</div>
					</div>					
				</div>
				
				<!-- 슬라이드 가운데 이동버튼 -->
				<center>
				<a class="home-carousel-down2" href="#home-carousel" data-slide-to=0><i class="fa fa-circle"></i></a>
				<a class="home-carousel-down3" href="#home-carousel" data-slide-to=1><i class="fa fa-circle"></i></a>
				<a class="home-carousel-down4" href="#home-carousel" data-slide-to=2><i class="fa fa-circle"></i></a>
				</center>
				
			</div>		
		</div> <!--/#home-carousel--> 
    </section>
	<!-- /SLIDER -->
	
	<!-- MISSION -->
	<section id="mission">
	  <div class="container">
	    <div class="row">
    		<br><br><br>
    		<center>
    			<div class="section-title">
						<h1>MISSION</h1>
						<span class="st-border"></span><br>
						<p>
						" 저희 이강건축이야기는 당신만의 이야기를 공간에 담습니다. 공간을 만든다기 보다는 고객과 닮은 <br>
						그리고 그들의 삶이 담긴 예술품을 창조한다는 마음가짐으로 일하고 있습니다. 똑같은 모습의 회색빛 <br>
						공간에서 나의 삶의 방식과 꼭 맞는, 그리고 나를 닮은 공간이 존재한다는 것 보다 설레는 일은 없을 겁니다.<br>
						저희가 함께 하겠습니다. "<br>
						</p>
    			</div>
    			
    			ENJOY LEEKANG ! <br>
    			<!-- <a href="#nothing"><img src="assets/icon/youtube.png" style="margin-top:10px;" width="30px" height="30px"></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
    			<a href="https://www.facebook.com/LeekangArchitecture"><img src="assets/icon/facebook.png" style="margin-top:10px;" width="30px" height="30px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    			<a href="https://www.instagram.com/leekangarchitecture/"><img src="assets/icon/insta.png" style="margin-top:10px;" width="30px" height="30px"></a>
    			<br><br><br><br><br>
    		</center>
    	</div>
    </div>
	</section>
	<!-- /MISSION -->