	<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
    </div>
	<center><img src="assets/people/people.jpg" width=100% heigth=100%></center>

	<section id="our-team">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<center>
					<h1><u>LEEKANG's PEOPLE</u></h1>
					<p>" 믿음과 신뢰로 앞으로 함께할 이강식구를 소개합니다. "<br></p>
					</center>
				</div>
						
				<div style="height:595px;width:940px;">
					<div class="people-basic">
						<img src="assets/people/ceobasic.png" width=940px>
					</div>
					<div class="people-over">
						<img src="assets/people/ceoover.png" width=940px>
					</div>
				</div>
				
				<div style="height:595px;width:940px;">
					<div class="people-basic">
						<img src="assets/people/archbasic.png" width=940px>
					</div>
					<div class="people-over">
						<img src="assets/people/archover.png" width=940px>
					</div>
				</div>
			
				<div style="height:595px;width:940px;margin-top:50px;">
					<div class="people-basic">
						<img src="assets/people/chiefbasic.png" width=940px>
					</div>
					<div class="people-over">
						<img src="assets/people/chiefover.png" width=940px>
					</div>
				</div>
				
					<div style="height:595px;width:940px;margin-top:50px;">
					<div class="people-basic">
						<img src="assets/people/superbasic.png" width=940px>
					</div>
					<div class="people-over">
						<img src="assets/people/superover.png" width=940px>
					</div>
				</div>
						
			</div>
		</div>
	</section>