<!-- project popup 1 -->
<div class="project_shadow" id="project_s1">
</div>
<div class="project_popup" id="project_p1">
	
	<div class="cycle-slideshow" style="width:807px;float:left;"
		data-cycle-fx="scrollHorz"
		data-cycle-speed="400"
		data-cycle-prev="#p1_prev"
		data-cycle-next="#p1_next"
		data-cycle-paused="true"
	>
		<img src="assets/project/leekang/1.jpg" width=100%>
		<img src="assets/project/leekang/2.jpg" width=100%>
		<img src="assets/project/leekang/3.jpg" width=100%>
		<img src="assets/project/leekang/4.jpg" width=100%>
		<img src="assets/project/leekang/5.jpg" width=100%>
		<img src="assets/project/leekang/6.jpg" width=100%>
		<img src="assets/project/leekang/7.jpg" width=100%>
		<img src="assets/project/leekang/8.jpg" width=100%>
		<img src="assets/project/leekang/9.jpg" width=100%>
		<img src="assets/project/leekang/10.jpg" width=100%>
		
		<div class="project_l"><a href=# id=p1_prev><i class="fa fa-angle-left"></i></a></div>
		<div class="project_r"><a href=# id=p1_next><i class="fa fa-angle-right"></i></a></div>
	</div>
	
	<div style="width:249px;height:454px;float:left;background:#2E2E2E;color:#fff;padding:10px;">
		<br>
		프로젝트 이름 : 이강빌딩 <br>( LEEKANG BUILDING )<br><br>
		준공 날짜 : 2014년 5월<br><br>
		위치 : 서울시 마포구 성산동 39-3번지<br><br>
		건축면적 / 총면적 :258.40 / 944.51<br><br>
		규모 : 지상 4층 + 옥상, 지하 1층 
	</div>
	<div class="project_rt" id="project_x1">X</div>
</div>
<!-- project popup 1-->

<!-- project popup 2-->
<div class="project_shadow" id="project_s2">
</div>
<div class="project_popup" id="project_p2">
	
	<div class="cycle-slideshow" style="width:807px;float:left;"
		data-cycle-fx="scrollHorz"
		data-cycle-speed="400"
		data-cycle-prev="#p2_prev"
		data-cycle-next="#p2_next"
		data-cycle-paused="true"
	>
		<img src="assets/project/darine/1.jpg" width=100%>
		<img src="assets/project/darine/2.jpg" width=100%>
		<img src="assets/project/darine/3.jpg" width=100%>
		<img src="assets/project/darine/4.jpg" width=100%>
		<img src="assets/project/darine/5.jpg" width=100%>
		<img src="assets/project/darine/6.jpg" width=100%>
		<img src="assets/project/darine/7.jpg" width=100%>
		<img src="assets/project/darine/8.jpg" width=100%>
		<img src="assets/project/darine/9.jpg" width=100%>
		<img src="assets/project/darine/10.jpg" width=100%>
		
		<div class="project_l"><a href=# id=p2_prev><i class="fa fa-angle-left"></i></a></div>
		<div class="project_r"><a href=# id=p2_next><i class="fa fa-angle-right"></i></a></div>
	</div>
	<div style="width:249px;height:454px;float:left;background:#2E2E2E;color:#fff;padding:10px;">
		<br>
		프로젝트 이름 :다리네 컴퍼니 사옥 <br>( DARINE COMPANY BUILDING)<br><br>
		준공 날짜 : 2016년 8월<br><br>
		위치 :강남구 논현동 236-4호외 1필지<br><br>
		건축면적 / 총면적 : 384.49 / 3248.99<br><br>
		규모 : 지상 6층 + 옥상, 지하 1층 <br>
	</div>
	<div class="project_rt" id="project_x2">X</div>
</div>
<!-- project popup 2-->


	<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
	</div>
	<center><img src="assets/project/project.jpg" width=100% height=100%></center>

<!-- PROJECT -->
<section id="our-works">
	<div class="container">
		<div class="row">
			<div class="section-title">
				<center><h1><u>ARCHITECTURE PROJECT</u></h1>
					<p>" 현재 준공이 완료된, 그리고 시공중인 이강프로젝트를 소개합니다. "<br></p>
				</center>
			</div>
				
			<center>
				<div class="portfolio-wrapper" >
					<div class="portfolio-items">

						<div class="portfolio-content" id="project1">
							<img class="img-responsive" src="assets/project/project_3.jpg" width=310.19px>
							<div class="portfolio-overlay">
								<img src="assets/project/project_3over.jpg" width=310.19px>
							</div>
						</div>	

						<div class="portfolio-content" id="project2">
							<img class="img-responsive" src="assets/project/project_1.jpg" width=310.19px>
							<div class="portfolio-overlay">
								<img src="assets/project/project_1over.jpg" width=310.19px>
							</div>
						</div>	

						<div class="portfolio-content" id="project3">
							<img class="img-responsive" src="assets/project/project_2.jpg" width=310.19px>
							<div class="portfolio-overlay">
								<img src="assets/project/project_2over.jpg" width=310.19px>
							</div>
						</div>	

					</div>				
				</div>
			</center>

		</div>
	</div>
</section>
<!-- /PROJECT -->