
<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
</div>
<center><img src="assets/service/service.jpg" width=100% height=100%></center>
	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row" style="margin-bottom:100px;">
				<div class="section-title">
					<center><h1><u>LEEKANG SERVICE</u></h1>
					<p>어.....어어쩌구저쩌구어어쩌구저쩌구어어쩌구저쩌구어<br>
					어쩌구저쩌구어어쩌구저쩌구어어쩌구저쩌구어어쩌구저쩌구어<br>
					어쩌구저쩌구어어쩌구저쩌구어어쩌구저쩌구어어쩌구저쩌구어</p>
					</center>
				</div>
				
				<div class="service_div">
					<center>
					<a href="#step1"><img src="assets/service/service_01.png"></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step2"><img src="assets/service/service_02.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step3"><img src="assets/service/service_03.png" ></a>
					</center>
				</div>
				
				<div class="service_div">
					<center>
					<a href="#step4"><img src="assets/service/service_04.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step5"><img src="assets/service/service_05.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step6"><img src="assets/service/service_06.png" ></a>
					</center>
				</div>

			</div>
			
			<div class="service_step" id="step1">
				<div class="service_img">
					<img src="assets/service/step1_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step1.상담설계</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step2">
				<div class="service_img">
					<img src="assets/service/step2_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step2.기본설계</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step3">
				<div class="service_img">
					<img src="assets/service/step3_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step3.실시설계</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step4">
				<div class="service_img">
					<img src="assets/service/step4_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step4.시공자 선정</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step5">
				<div class="service_img">
					<img src="assets/service/step5_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step5.감리자 선정</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step6">
				<div class="service_img">
					<img src="assets/service/step6_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step6.사후관리</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구
					<br>어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구어쩌구저젖뒂뒂둬구</p>
				</div>			
			</div>
			
		</div>
	</section>
	<!-- /SERVICES -->