
<div class="navmar" id="navmarr">
        <!-- 위 여백 -->
</div>
<center><img src="assets/service/service.jpg" width=100% height=100%></center>
	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="row" style="margin-bottom:100px;">
				<div class="section-title">
					<center><h1><u>LEEKANG SERVICE</u></h1>
					<p>" 다음과 같은 체계적인 서비스 절차를 통해 최선을 다해 돕겠습니다. "<br></p>
					</center>
				</div>
				
				<div class="service_div">
					<center>
					<a href="#step1"><img src="assets/service/service_01.png"></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step2"><img src="assets/service/service_02.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step3"><img src="assets/service/service_03.png" ></a>
					</center>
				</div>
				
				<div class="service_div">
					<center>
					<a href="#step4"><img src="assets/service/service_04.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step5"><img src="assets/service/service_05.png" ></a> <img src="assets/service/steparrow.png" width=20px height=25px>
					<a href="#step6"><img src="assets/service/service_06.png" ></a>
					</center>
				</div>

			</div>
			
			<div class="service_step" id="step1">
				<div class="service_img">
					<img src="assets/service/step1_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step1.상담</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 규모 검토 및 법규 검토 : 법규분석과 주요용도 검토<br>
						- 상담 : 사업 용도에 따른 비용 기간 개발방식 관리 및 운영사업수지 분석에 이르는 개발계획 협의<br>
						(상담방법 | 방문상담예약 대표전화 : 010 4284 5484, <a href="/contact" target="_self">온라인상담(leekangarchitecture@gmail.com)</a>)
					</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step2">
				<div class="service_img">
					<img src="assets/service/step2_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step2.기본설계</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 건축주와의 미팅 : 건축주 의견 검토 및 조정<br>
						- 설계 계약 체결 : 기본설계비는 총 설계비의 10% 입니다.<br>
						- 디자인 제안 : 계약 체결 후 기본계획안을 받아 보실 수 있습니다.<br>
						　　　　　　　1차 서비스 이후 디자인 조율 (디자인 조율은 5회까지 무료로 제공됩니다.)
					</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step3">
				<div class="service_img">
					<img src="assets/service/step3_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step3.실시설계</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 심의용 도면 작성 → 허가용 도면 작성 → 시공용 도면 작성<br>
						- 건축 모형제작 및 브리핑
					</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step4">
				<div class="service_img">
					<img src="assets/service/step4_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step4.시공계약 체결</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 시공 견적 준비<br>
						- 주요 자재 선정<br>
						- 주요 시공방법 결정<br>
						- 공사대금 지불
					</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step5">
				<div class="service_img">
					<img src="assets/service/step5_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step5.시공감리</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 적합한 시공 감리자 선정 : 특수 감리 부분(소방 전기 등)은 해당 전문업체와 감리계약 진행
					</p>
				</div>
			</div>
			<center><img src="assets/service/steparrow_bottom.png" style="width:2%; height:2%;"></center><br><br>
			
			<div class="service_step" id="step6">
				<div class="service_img">
					<img src="assets/service/step6_icon.png">
				</div>
				<div class="service_content">
					<h2 style="color:#0070BB">step6.하자보수</h2>
					<hr style="border: dashed 1px #D8D8D8;">
					<p style="font-size:13px;">
						- 하자보수 계약 및 관련 법령에 따른 하자보수<br>
						- 건물 관리 매뉴얼 제공
					</p>
				</div>			
			</div>
			
		</div>
	</section>
	<!-- /SERVICES -->